@charset "UTF-8";

.header{
    background: rgb(2,4,17);
    background: linear-gradient(225deg, rgba(2,4,17,1) 0%, rgba(65,0,33,1) 55%, rgba(230,0,255,1) 82%, rgba(127,11,48,1) 100%);
    padding-top: 70px;
    padding-right: 70px;
    padding-bottom: 30px;
    padding-left: 7px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    position: relative; 
    text-align: center;
    color: white;
    text-shadow: 2px 2px #000000;
  }
  
  body {
    background-color: #c790ca63;
    }

  .column {
    background-image:  url(https://i.pinimg.com/originals/54/bd/a3/54bda352b17744efa1f6898040455423.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 100px;
    padding-bottom: 100px;
    color: white;
    text-decoration:underline;
    text-decoration-color: #ff0000;
    text-decoration-skip-ink: #000000;
    font-size: larger;
    text-align: center;
    text-shadow: 1px 1px black;
  }

  .topnav {
    background-color: #8400779a;
    overflow: hidden;
  }
  
  .topnav a {
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-decoration-thickness: 1px;
    text-decoration-color: black;
    text-shadow: 1px 1px black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 20px;
  }
  
  .topnav a:hover {
    background-color: #cc8ee2f3;
    color: #ffffff;
  }
  
  .footer {
    background-color: #8400779a;
    text-align: left;
    color: #ffffff;
    text-shadow: 1px 1px #000000;
    padding-top:40px;
    padding-bottom:40px;
    padding-left:50px;
    padding-right:50px;
    position: sticky;
  }