@charset "UTF-8";
.header {
  background-color: #710075;
  text-align: center;
  padding: 20px;
}

h1 {
  padding: 60px;
  font-family: 'Courier New', Courier, monospace;
  color: #ffffff;
  text-align: center;
}

.topnav {
  background-color: #8400779a;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-decoration-thickness: 1px;
  text-decoration-color: black;
  text-shadow: 1px 1px black;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 20px;
}

.topnav a:hover {
  background-color: #cc8ee2f3;
  color: #ffffff;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

body {
    background-color: #ffc4c4;
    font-family: Arial, sans-serif;
    color: #000000;
    margin: 20px;
  }

  