.header{
    background-image:linear-gradient(), url();
    padding-top: 70px;
    padding-right: 70px;
    padding-bottom: 30px;
    padding-left: 70px;
    background-size: cover;
    background-position:center;
    display: flex;
    flex-direction: column;
    position: relative; 
    text-align: center;
    color: white;
    text-shadow: 2px 2px #000000;
  }
  
  body {
    background-color: #c790ca63;
    }
  
  .topnav {
    background-color: #8400779a;
    overflow: hidden;
  }
  
  .topnav a {
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-decoration-thickness: 1px;
    text-decoration-color: black;
    text-shadow: 1px 1px black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 20px;
  }
  
  .topnav a:hover {
    background-color: #cc8ee2f3;
    color: #ffffff;
  }
  
  .footer {
    background-color: #8400779a;
    text-align: left;
    color: #ffffff;
    text-shadow: 1px 1px #000000;
    padding-top:40px;
    padding-bottom:40px;
    padding-left:50px;
    padding-right:50px;
    position: relative;
  }