@charset "UTF-8";

/* Define a cor de fundo da página e estilos básicos */
body {
    background-color: #fcafef;
    font-family: Arial, sans-serif;
    color: #ffffff;
    margin: 20px;
  }
  
  /* Estiliza o cabeçalho principal */
  h1 {
    color: #2e8b57;
    text-align: center;
  }
  
  /* Estiliza o parágrafo */
  p {
    font-size: 18px;
    line-height: 1.5;
  }